@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.title {
	text-align: center;
	font-family: "Space Grotesk", sans-serif;
	font-size: 50px;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.btn {
	height: 200px;
	width: 200px;
	background-color: white;
	border-radius: 10%;
}
